body {
    margin: 0;
    padding: 0;
}

img.image-items {
    max-height: 175px;
}

.box-header {
    width: 100%;
    background-color: #62ba87;
    border-radius: 0 0 20px 20px;
    /* Background-color: #C3E5D1; */
    /* Background-color: #FADBB7; */
    /* Background-color: #F2F2F2; */
}

.card .card-body p.item-desc {
    font-size: 14px;
}

#preview-scanner {
    border: 8px solid #FADBB7;
    align-items: center;
    height: 300px;
    width: 300px;
}

.splide__slide {
    opacity: 0.3;
}


.splide__slide.is-active {
    opacity: 1;
}

.splide__slide img {
    width: 100%;
    height: auto;
}

#detail .card .img-detail {
    height: 400px;
}

#detail .card .img-detail {
    width: 100%;
}

#transaksi-mobile {
    display: none;
}

#detail #teks-deskripsi {
    text-align: justify;
}

/* style untuk tampilan utama */
.header {
    /* height: 80vh; */
    height: 85vh;
    background-image: url('../image/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #caf7e3; */
    /* #092532;#e6f5ff #16A596;
    #171717;
    #113c4a ; */

    /* dark color
    #2A2438
    #352F44
    #393E46
    #222831
    #393E46 */
}

#hero-mobile {
    display: none;
}

.header .mobile-layout .text-header {
    font-size: 2.7em;
}

#favorit {
    bottom: 130px;
}

#favorit .item-favorit {
    width: 150px;
}

/*
# Opening Hours
--------------------------------*/
.opening-hours,
.emergency-box,
.appointment-box,
.contact-info {
    position: relative;
    padding: 32px;
    border-radius: 20px;
    border: 2px solid #16A596;
    /*#dde4ea*/
}

.opening-hours {
    border-color: #16A596;
}

.opening-hours h2,
.emergency-box h2,
.appointment-box h2,
.contact-info h2 {
    position: absolute;
    top: -24px;
    left: -2px;
    height: 48px;
    padding-right: 16px;
    background: #fff;

    font-size: 24px;
    font-weight: 600;
    color: #404040;
}

.opening-hours ul,
.emergency-box ul {
    list-style: none;
}

.opening-hours ul li,
.emergency-box ul li {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #828282;
}

.opening-hours ul li span,
.emergency-box ul li span {
    display: inline-block;
    margin-left: 5px;
}

/*
# Emergency
--------------------------------*/
.emergency-box {
    padding: 16px;
}

.emergency-box p {
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 13px;
    font-style: italic;
    color: #828282;
}

.emergency-box .call-btn {
    max-width: 220px;
    margin: 24px auto !important;
}

/*
# Make an Appointment
--------------------------------*/
.appointment-box {
    padding: 16px;
}

.appointment-box form {
    margin-top: 24px;
}

.appointment-box form select,
.appointment-box form input[type="text"],
.appointment-box form input[type="number"] {
    display: block;
    width: calc(50% - 5px);
    padding: 12px 16px;
    margin-bottom: 10px;
    border: 0;

    font-size: 12px;
    font-style: italic;
    color: #828282;
    background: #f0f4f8;
    outline: none;
}

.appointment-box form input[type="submit"] {
    margin-top: 16px;
}